<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white;font-size:18px">Sistema Integral de Control de Calificacion </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <form class="d-flex">
          <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Fin navbar -->

  <div class="contenedor">
      <div class="row">
          
        <div class="col">
            
        </div>

      </div>
  </div>
