<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand" style="margin-left: -20%;" >
      <h1 style="color:white;" >Sistema Integral de Control de Calificaciones</h1>
    </a>
  
    <button class="navbar-toggler" type="button" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global">
      <div class="navbar-collapse-header">
        <div class="row">
        
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button">
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text">Usuarios</span>
          </a>
          <div class="dropdown-menu-xl dropdown-menu" >
            <div class="dropdown-menu-inner">
              <a  class="media d-flex align-items-center" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" >
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <!-- <i class="ni ni-spaceship"></i> -->
                  <img src="./../../assets/programmer.png" width="40">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Alumnos</h6>
                  <p class="description d-none d-md-inline-block mb-0">Consulta tus calificaciones, materias, horarios.</p>
                </div>
              </a>
              <a class="media d-flex align-items-center"  type="button"  data-bs-toggle="modal" data-bs-target="#ModalDocente" >
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <!-- <i class="ni ni-palette"></i> -->
                  <img src="./../../assets/profile.png" width="40">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Docentes</h6>
                  <p class="description d-none d-md-inline-block mb-0">Apartado exclusivo para el personal docente.</p>
                </div>
              </a>
              <a  class="media d-flex align-items-center" type="button"  data-bs-toggle="modal" data-bs-target="#ModalAdministrativo" >
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <i class="ni ni-ui-04"></i>
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Administrativos</h5>
                  <p class="description d-none d-md-inline-block mb-0">Apartado exclusivo para el personal administrativo.</p>
                </div>
              </a>
            </div>
          </div>
        </li>
       
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com/cetec.cuautla" target="_blank" data-toggle="tooltip" title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank" data-toggle="tooltip" title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank" data-toggle="tooltip" title="Follow us on Twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li>
        


        <li class="nav-item d-none d-lg-block ml-lg-4">
          <a href="https://www.grupocetec.com/" target="_blank" class="btn btn-neutral btn-icon">
            <span class="btn-inner--icon">
              
            </span>
            <span class="nav-link-inner--text">Acerca de Nosotros</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./../../assets/logo_CETEC.jpg" style="width:50rem; margin-top: -30%;" class="img-fluid">
              <p class="lead text-white">¿Quieres tener contacto directo con nosotros?<br>Revisa estas opciones.</p>
              <div class="btn-wrapper mt-2">
                <a href="https://www.creative-tim.com/product/argon-design-system-angular?ref=adsa-index-header" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                  <span class="btn-inner--icon"><i class="ni ni-phone"></i></span>
                  <span class="btn-inner--text">Contactanos</span>
                </a>
               
              </div>
              <div class="mt-2">
                <small class="text-white font-weight-bold mb-0 mr-2"></small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  
</main>



<!-- Modal Inicio de sesion alumnos -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">Inicio de Sesión</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="" id="" class="form-control m-1" placeholder="No. Credencial">
          <input type="password" name="" id="" class="form-control m-1" placeholder="Contraseña">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Inicio de sesion Docente -->
<div class="modal fade" id="ModalDocente" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">Inicio de Sesión Docente</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="" id="" class="form-control m-1" placeholder="No. Credencial ">
          <input type="password" name="" id="" class="form-control m-1" placeholder="Contraseña">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Inicio de sesion Administrativo -->
<div class="modal fade" id="ModalAdministrativo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-center">Inicio de Sesión Administrativo</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <input type="text" name="" id="" class="form-control m-1" placeholder="No. Credencial ">
          <input type="password" name="" id="" class="form-control m-1" placeholder="Contraseña">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Ingresar</button>
      </div>
    </div>
  </div>
</div>
