<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white;font-size:18px">Sistema Integral de Control de Calificacion </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        </ul>
        <form class="d-flex">
          <button class="btn btn-danger" type="submit">Cerrar Sesión</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- Fin navbar -->

  <div class="contenedor">
      <div class="row">
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
              <a href="#" routerLink="/calificaciones-parciales"> <img src="./../../../assets/calificacion.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">Calificaciones parciales</h5>
                  <p class="card-text">Aqui podras consultar tus calificaciones parciales de tu carrera</p>
                </div>
              </div>  
          </div>
          <div class="col">
            <div class="card shadow p-3 mb-5 bg-body rounded">
               <a href="#" routerLink="/horarios"> <img src="./../../../assets/horario.jpg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                  <h5 class="card-title">Horarios</h5>
                  <p class="card-text">Aqui podras consultar tus horarios de tu carrera</p>
                </div>
              </div>
            </div>
            <div class="col">
                <div class="card shadow p-3 mb-5 bg-body rounded">
                   <a href="#" routerLink="/boleta"> <img src="./../../../assets/boleta.jpg" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                      <h5 class="card-title">Boletas</h5>
                      <p class="card-text">Aqui podras visualizar tus boletas de tu carrera y asi mismo descargarlas</p>
                    </div>
                  </div>
                </div>

  </div>
